<div class="container mt-5">
	<div class="row">
		<div class="col-xs-12 mt-5">
			<h2>Mes appareils</h2>
            <p>Dernière mise à jour : {{ lastUpdated | async  | date }}</p>
			<ul class="list-group mt-5">
				<app-appareil *ngFor="let appareil of appareils; let i = index" 
                    [appareilName]="appareil.name"
                    [appareilStatus]="appareil.status"
					[index]="i">
                </app-appareil> 
			</ul>
			<button 
				class="mt-2 px-4 d-block mx-auto w-50 btn btn-success" 
				[disabled]="!isAuth" 
				(click)="onAllumer()">
				Tout Allumer
			</button>
			<button 
				class="mt-2 px-4 d-block mx-auto w-50 btn btn-danger" 
				[disabled]="!isAuth" 
				(click)="onEteindre()">
				Tout Eteindre
			</button>
		</div>
	</div>
</div>
